[{{ item.key }}]
enabled = true
maxretry = {{ item.value.max_retry | default(5) }}
findtime = {{ item.value.find_time | default(600) }}
bantime = {{ item.value.ban_time | default(600) }}
{% if item.value.action is defined %}
action = {{ item.value.action }}
{% endif %}
